%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
{require_otp_vsn, "R15B03|R16B*|17"}.

{deps, [
        {ranch, ".*",   {git, "https://github.com/extend/ranch.git",        {tag, "1.0.0"}}},
        {erpcgen, ".*", {git, "https://github.com/leo-project/erpcgen.git", {tag, "0.2.3"}}}
       ]}.

{erl_opts, [{d, 'NOTEST'},
            warn_obsolete_guard,
            warnings_as_errors,
            warn_shadow_vars
           ]}.
{xref_checks, [undefined_function_calls]}.
{cover_enabled, true}.
{clean_files, []}.
